---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  <head>
  {% include head.html %}
  </head>

  <body>
    <a class="show-on-focus" href="#main">Skip to content</a>

    <div id="main" role="main">
      <div class="back"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">index/</a></div>
      <article class="content" itemscope itemtype="http://schema.org/BlogPosting">

        <h1 class="content-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <small class="content-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           {{ page.date | date: "%B %d, %Y" }}
          </time>
          <span class="hypen-by"> — By </span>
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">
              {% if page.author %}
                {{ page.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
            </span>
          </span>
        </small>

        <hr class="divider"/>
      
        <div itemprop="articleBody" class="content-body">
          {{ content }}
        </div>
      
      </article>
    </div>

    {% include footer.html %}

  </body>
</html>